<div class="container">
    <div class="d-flex flex-column p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0" style="width: 50rem;" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        <div class="list-group">
            <a *ngFor="let pokemon of pokemonList; index as i" [routerLink]="['/pokedex', pokemon.name]"
                class="list-group-item list-group-item-action d-flex gap-3 py-3" style="width: 50rem"
                aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div class="d-flex flex-row align-items-center justify-content-between w-100">
                        <div class="d-flex flex-row align-items-center justify-content-start w-100">
                            <img src="/assets/images/Poke_Ball_icon.svg" alt="" width="30px" height="30px">
                            <h2 style="padding-left: 1rem;" class="mb-0">{{pokemon.name.charAt(0).toUpperCase() +
                                pokemon.name.slice(1)}}</h2>
                        </div>
                        <small class="opacity-50 text-nowrap">Pokedex Num. {{((this.pageNumber - 1) * 20) + i + 1
                            }}</small>
                    </div>
                </div>
            </a>
        </div>

        <div class="d-flex flex-row align-items-center justify-content-center w-100">
            <a class="page-number" [routerLink]="['/pokedex']" [queryParams]="{page: pageNumber - 1}"
                *ngIf="pageNumber >= 2">{{pageNumber - 1}}</a>
            <a class="page-number" [routerLink]="['/pokedex']" [queryParams]="{page: pageNumber}">{{pageNumber}}</a>
            <a class="page-number" [routerLink]="['/pokedex']" [queryParams]="{page: pageNumber + 1}">{{pageNumber +
                1}}</a>
            <a class="page-number" [routerLink]="['/pokedex']" [queryParams]="{page: pageNumber + 2}">{{pageNumber +
                2}}</a>
            <a class="page-number" [routerLink]="['/pokedex']" [queryParams]="{page: pageNumber + 3}">{{pageNumber +
                3}}</a>
            <a class="page-number" [routerLink]="['/pokedex']" [queryParams]="{page: pageNumber + 4}">{{pageNumber +
                4}}</a>
        </div>
    </div>
</div>